a{
    color:black;
    display: table;   
}
html,body{
    height:100%;
    width:100%;
    overflow:hidden;
}

.panel{
    height:100vh;
    z-index:0;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}

a[ id= "one" ]:target ~ #main .panel {
    -webkit-transform: translateY( 0px );
    transform: translateY( 0px );
}

a[ id= "two" ]:target ~ #main .panel {
    -webkit-transform: translateY( -100% );
    transform: translateY( -100% );
}

#main-svg {
    width: 65%;
    margin: 0 auto;
}

#main-projects{
    width:80%;
    margin-left:10%;
    margin-top:0;
    margin-bottom:0;
}

.project{
    width:22%;
    padding-bottom:16%;
    margin:1%;   
    text-align:center;
    background-color:#17b0e8;
    border-style:none;
    position:relative;
    display:inline-block;
    overflow:hidden;
}
.content,.slider-content{
    position:absolute;
    width:100%;
    height:100%;
}
.slider-content p{
    font-size:1.8vh;
    color:#ffffff;
}
.content img{
    width:100%;
    height:100%;
}

.slider-content{
    z-index:1;
    width:100%;
    height:100%;
    top:-100%;
    transition:0.6s;
    position:absolute;
    background-color:rgba(0, 0, 0, .7);
}


.project:hover .slider-content{ 
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    transition:0.6s;
    top:0;
}


.project a{
    width:100%;
    height:100%;
    text-decoration:none;
}

p,#two,.project{
    font-family: 'Titillium Web', sans-serif;
}
html{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
p{
    text-align:center;
    position:relative;
    font-size:40px;
}
#back{
    padding-left:1%;
    font-size:25px;
}

#head-title{
    font-size:48px;
    letter-spacing: 3px;

}

svg{
    display:block;
    height:100%;
    width:100%;
}

text{
    font-family: 'Titillium Web', sans-serif;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.display-polygon,.triangle, .link-polygon{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    fill: #ff9933;
    cursor: pointer;
}

.display-polygon{
    cursor:default;
}

.triangle{
    fill: #17b0e8;
}

.triangle:hover {
    fill:#67cbf0;
}

.link-polygon:hover {
    fill:#ffa64d;
}

.fadeable{
    visibility:hidden;
    opacity:0;
}